
  body {
    font-family: Arial, sans-serif;
    background-color: pink; /* Спокойный цвет фона */
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .main-theme {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 2px 0px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .sub-theme {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    font-weight: bold; /* Выделение подтем */
  }
  .emoji {
    font-size: 30px;
  }
  .sub-theme-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .action {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
  }
  .action-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .toggle-switch {
    display: flex;
    align-items: center;
  }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .toggle-slider {
    position: relative;
    width: 36px;
    height: 20px;
    background-color: #27ae60; /* Зеленый цвет */
    border-radius: 20px;
    transition: 0.3s;
  }
  .toggle-slider:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  .toggle-switch input:checked + .toggle-slider {
    background-color: #e74c3c; /* Красный цвет */
  }
  .toggle-switch input:checked + .toggle-slider:before {
    transform: translateX(20px);
  }
  .sub-theme-container {
    border: 2px solid #2c3e50; /* Темная окантовка */
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }
  .action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавлено для выравнивания по краям */
  }
  .input-field {
    padding: 5px;
    border: 1px solid rgb(173, 169, 169);
    border-radius: 3px;
    width: 30px;
    text-align: center;
    height: 17px;
    margin-left: 20px; /* Добавлено для смещения к правому краю */
    
  }
  .apply-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
  }
